@import '../components/bootstrap-sass/lib/bootstrap.scss';
$fontAwesomePath : '../components/font-awesome/font' !default;
@import '../components/font-awesome/sass/font-awesome.scss';

@import 'files';

a:hover {
  text-decoration: none;
}

.center {
  text-align: center;
}